.songfinder {
  overflow: auto;
}

.songfinder .react-autosuggest__container {
  text-align: center;
}

.songfinder .react-autosuggest__input {
  width: 100%;
  max-width: 25em;
}

.songfinder .react-autosuggest__suggestions-container {
  width: 100%;
  padding: 0;
  background: #dabbff;
  box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.4) inset;
  text-align: left;
}

.songfinder .react-autosuggest__suggestions-container ul {
  list-style: inside '☞ ';
  margin: 0;
  padding: 0;
}

.songfinder .react-autosuggest__suggestions-container li {
  padding: 0.2em 0.5em;
}

.songfinder .songfinder__suggestion:hover {
  cursor: pointer;
  text-decoration: underline;
}

.songfinder .songfinder__suggestion--author {
  font-size: 0.85em;
}

.songfinder .songfinder__suggestion--author:before {
  content: ' — by ';
}
