.showpage > main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 1em;
}

.showpage > main > section {
  flex: 2 1 33%; /* child rule for flex context of parent */
  display: flex; /* establish flex context for child elements */
  flex-direction: column; /* customize flex behavior of child elements */
}

section.showpage__setlist {
  min-width: 15em;
  max-width: 35em;
}

section.showpage__recordings {
  text-align:right;
  flex-grow: 1;
  max-width: 400px;
}

section.showpage__recordings h2 {
}

section.showpage__recordings ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}

.showpage__pagetitle--band {
  display: block;
}
.showpage__pagetitle--number {
  white-space: nowrap;
}

.showpage__pagetitle--venue:before {
  content: 'at ';
}

.showpage__pagetitle--number {
  font-family: monospace;
}

.showpage__notes {
  margin: 1em;
  padding: 1.5em;
  background: #eee;
  border-radius: 1.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0, 0.5);
}

.showpage__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.showpage__nav a {
  padding: 0.5em;
  border-radius: 1em;
}
.showpage__nav__prev {
  background: linear-gradient(45deg, thistle, transparent);
  box-shadow: 1px 1px 3px 0px black;
}
.showpage__nav__next {
  background: linear-gradient(315deg, thistle, transparent);
  box-shadow: -1px 1px 3px 0px black;
}
