.showpaginator {
  margin: 3em 1em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.showpaginator li {
  flex-grow: 2;
  line-height: 4em;
}
.showpaginator a {
  padding: 1em 2em;
  border-radius: 2em;
  white-space: nowrap;
}
.showpaginator .showpaginator__prev {
  text-align: left;
}
.showpaginator .showpaginator__prev a {
}
.showpaginator .showpaginator__prev a:before {
  content: "<";
  margin: 5%;
}
.showpaginator .showpaginator__next {
  text-align: right;
}
.showpaginator .showpaginator__next a {
}
.showpaginator .showpaginator__next a:after {
  content: ">";
  margin: 5%;
}
