.fanstatspage > main {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.fanstatspage h2 {
  text-align: left;
  font-family: 'Shadows Into Light', fantasy;
}

.fanstatspage ol {
  columns: 2;
}

.fanstatspage ol ::marker {
  font-size: 0.8em;
}
