.homepage > main {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 10em;
  justify-content: center;
}

.homepage h1 {
  text-align: center;
}

.homepage > main section:not(.homepage__showsbyyear) {
  margin: 0.5em;
  border-radius: 1em;
  padding: 1em 2em 0.5em;
  box-shadow: -6px -11px 13px #00000077 inset;
}

.homepage__songfinder {
  background: honeydew;
}

.homepage__links {
  background: powderblue;
}
.homepage__links ul {
  list-style: circle;
  margin: 0;
}

.homepage__forum {
  background: pink;
}

.homepage__showsbyyear {
  padding-top: 1em;
  width: 100%;
}
