.homepage {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 10em;
  padding: 1em;
}

h1 {
  width: 100%;
}

.homepage__news {
  margin: 0.5em;
  border-radius: 1em;
  padding: 0.5em 2em;
  box-shadow: 0px 10px 13px #33333377 inset;
}

.homepage__songfinder {
  margin: 0.5em;
  border-radius: 1em;
  padding: 0.5em 2em;
  box-shadow: 0px 10px 13px #33333377 inset;
}

.homepage__showsbyyear {
  width: 100%;
}
