.homepage > main {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 10em;
  justify-content: center;
}
.homepage > main > section {
  margin: 1em;
}

.homepage h1 {
  text-align: center;
  letter-spacing: 0.05em;
}

.homepage__banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.75em;
  line-height: 2em;
  text-align: center;
  justify-content: center;

  h1 {
    font-family: fantasy;
  }
  img {
    max-height: 7em;
    border-radius: 2.5em;
    object-fit: cover;
    aspect-ratio: 76 / 110;
  }
  blockquote {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2em;
    a {
      font-size: 0.8em;
    }
  }
  span {
    white-space: nowrap;
    padding: 0.2em;
  }
}

.homepage__songfinder {
  order: 1;
  flex-grow: 1;
  min-width: 20em;
  max-width: 30em;
  margin: 1.5em auto;
}

.homepage__links {
  order: 3;
}
.homepage__links > ul {
  list-style: none;
  margin: 0;
}
.homepage__links > ul ul {
  list-style: "⇢";
  margin: 0 0 0 0.5em;
  padding-left: 0.5em;
}
.homepage__links > ul ul li {
  margin-bottom: 0;
}
.homepage__links kbd {
  font-size: 1.1em;
}
.homepage__links a.icon {
  background: left center / contain no-repeat;
  padding-left: 1.33em;
  &.mastodon {
    background-image: url(https://i.imgur.com/ycZRrHX.png);
  }
  &.twitter {
    background-image: url(https://i.imgur.com/sFunDTP.png);
  }
  &.github {
    background-image: url(https://i.imgur.com/8Sp9Ndd.png);
  }
  &.gitlab {
    background-image: url(https://i.imgur.com/j7O0U8a.png);
  }
}

.homepage__showsbyyear {
  order: 3;
  flex-grow: 2;
  min-width: 15em;
  max-width: 30em;
  padding-top: 1em;
}

.new:before {
  content: "New!";
  position: relative;
  bottom: 0.2em;
  margin: 0.1em 0.5em;
  padding: 0.2em 0.4em;
  box-shadow: -1px 2px 5px 1px #000000aa;
  font-size: 0.7em;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  color: azure;
  background-color: darkmagenta;
  opacity: 0.9;
  border-radius: 0.5em;
}
