.showpage > main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
}

.showpage > main > section {
  flex: 2 1 33%;
}

section.showpage__setlist {
  min-width: 15em;
  max-width: 35em;
}

section.showpage__recordings {
  text-align:right;
  flex-grow: 1;
  max-width: 400px;
}

section.showpage__recordings h2 {
}

section.showpage__recordings ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}


.showpage__pagetitle > span {
  display: block;
}

.showpage__pagetitle--venue:before {
  content: 'at ';
}

.showpage__pagetitle--number {
  font-family: monospace;
}

.showpage__notes {
  margin: 0.5em 3em;
  padding: 1.5em;
  background: #eee;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0, 0.5);
}
