.showpage {
  padding: 1em;
}

.showpage__pagetitle--number {
  font-family: monospace;
}
.showpage__pagetitle--number:before {
  content: 'show #';
}

.showpage__pagetitle--date {
  display: block;
}
.showpage__pagetitle--date:before {
  content: 'on ';
}

.showpage__pagetitle--venue {
  display: block;
}
.showpage__pagetitle--venue:before {
  content: 'at ';
}

.showpage__notes {
  padding: 1.5em;
  background: #dabbff;
}
