.layout.songs > main {
  padding: 1em;
}

@media all and (min-width: 40em) {
  .songs__list {
    column-count: 2;
  }
}

@media all and (min-width: 75em) {
  .songs__list {
    column-count: 3;
  }
}

.layout.songs table thead {
  text-align: center;
}
.layout.songs table tbody {
  font-size: 0.9em;
}
.songs__performed-table__column-sort {
  padding: 0 1em;
  cursor: pointer;
}

.songs__list > li {
  margin: 0 0.5em 0.5em 0;
}

.songs__list a:hover {
  text-decoration: none;
}

.song__suite {
  margin: 0.2em;
  border-radius: 0.6em;
  padding: 0.1em 0.5em 0.2em;
  background: lightcyan;
  font-size: 0.8em;
  box-shadow: -1px -1px 2px 1px #00000077 inset;
}

.song__author {
  margin-left: 0.5em;
  font-size: 0.9em;
}
.song__author::before {
  content: 'by ';
}

.song__perfcount {
  margin-left: 1em;
  font-size: 0.9em;
  white-space: nowrap;
}
