body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tableofcontents {
  display: inline-block;
  margin: 0 1em 1em;
  padding: 0.5em 1em 1em;
  font-size: 0.8em;
  background: #dabbff;
  border-radius: 1em;
}
.tableofcontents * {
  margin-bottom: 0.1em;
}
.tableofcontents p {
  font-weight: bold;
  text-align: center;
}
.tableofcontents ol {
  list-style: disclosure-closed inside;
  margin-left: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Shadows Into Light', fantasy;
  font-size: 1.9em;
  line-height: 1.1em;
  width: 100%;
  margin-bottom: 0.5em;
}
h2 {
  margin-bottom: 0.3em;
  font-size: 1.1em;
  text-align: center;
}
a {
  color: #129;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0, 0.2);
}
a:hover {
  text-decoration: underline;
}
a:active, a:visited {
  color: #313;
}
img {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 2;
  min-height: 100%;
}

.App__banner {
  display: block;
  opacity: 0.5;
  border-radius: 0 0 0 100%;
}
.App__banner:hover {
  opacity: 0.9;
}
.App__banner img {
  min-width: 13em;
  max-width: 33%;
  margin-bottom: 0.2em;
}

a.highlight,
.highlight a {
  font-weight: 500;
  text-shadow: 0 0 0.3em slateblue;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0 5px 20px 10px #000000dd;
}
