.setlist__set-soundcheck {
  padding: 0.5em 2em;
  border-radius: 2em;
  background: lavender;
  box-shadow: 0px -2px 20px 5px black inset;
  font-size: 0.85em;
}
.setlist__set-soundcheck .setlist__tracks {
  line-height: 1em;
}
.setlist__set-soundcheck h3.setlist__setlabel {
  font-size: 1.4em;
}

h3.setlist__setlabel {
  margin: 0 5em 0.5em 0;
  text-align: center;
}

.setlist__tracks {
  list-style: none;
  margin-left: 1em;
  line-height: 1.5em;
}
.setlist__tracks > li {
  margin: 0;
  padding: 0.3em;
  font-size: 0.9em;
}
.setlist__tracks > li.stars-1 {
  list-style-type: "★";
}
.setlist__tracks > li.stars-2 {
  list-style-type: "★★";
}
.setlist__tracks > li > a {
  font-size: 1.1em;
}

.setlist__track__badge {
  margin-left: 1em;
}
.setlist__track__badge--ltp {
  display: none;
}
.setlist__track__badge--bustout {
  font-family: none;
}

.setlist__songnote,
.setlist__songteases {
  padding-left: 1em;
  cursor: pointer;
  line-height: 1em;
}

.suite {
  background: linear-gradient(90deg, #dabbff4e, transparent);
  border-radius: 1em;
}
.suite ul {
  display: none;
  list-style: circle;
}
.suite:hover {
  box-shadow: 0 0 3px 5px lightgray;
}
.suite:hover ul {
  display: block;
}
.suite:hover .suite__segue {
  display: none
}
