.setlist__set-soundcheck {
  padding: 0.5em 2em;
  border-radius: 2em;
  background: lavender;
  box-shadow: 0px -2px 20px 5px black inset;
  font-size: 0.85em;
}
.setlist__set-soundcheck .setlist__tracks {
  line-height: 1em;
}
.setlist__set-soundcheck h3.setlist__setlabel {
  font-size: 1.4em;
}

h3.setlist__setlabel {
  margin: 1em 0.5em 1em;
  text-align: center;
}

.setlist__tracks {
  list-style: square;
  margin-left: 1em;
  line-height: 1.5em;
}

.setlist__songnote,
.setlist__songteases {
  padding-left: 1em;
  cursor: pointer;
  line-height: 1em;
}

.setlist__tracks li ul {
  /* Suite pieces */
  display: inline;
  margin: 0;
  list-style: none;
}
.setlist__tracks li ul li {
  padding-left: 0.5em;
  display: inline;
}
