.setlist__tracks {
  line-height: 1.5em;
}

.setlist__songnote,
.setlist__songteases {
  padding-left: 1em;
  cursor: pointer;
  line-height: 1em;
}

.setlist__tracks ul {
  display: inline;
  margin: 0;
  list-style: none;
}
.setlist__tracks ul li {
  padding-left: 0.5em;
  display: inline;
}
