.showsbyyear {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0.2em 0.5em 1em;
}

.showsbyyear .react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 10%;
  min-width: 5em;
  margin: 0 0.8em 0 0;
  padding: 0;
}

.showsbyyear .react-tabs__tab {
  padding: 0.5em;
  list-style: none;
  box-shadow: 1px 2px 3px 1px #00000077;
  text-align: center;
  cursor: pointer;
  background: #dabbff4e;
  border-radius: 1em;
}
.showsbyyear .react-tabs__tab--selected {
  background: #dabbff;
  cursor: alias;
}

.showsbyyear .react-tabs__tab-panel {
  border-radius: 1.5em;
  background: #dabbff4e;
  box-shadow: inset 1px 1px 5px #00000077;
}

.showsbyyear .react-tabs__tab-panel:before {
  content: attr('data-year', '');
  position: absolute;
  top: -0.4em;
  right: -0.8em;
  font-size: 2.2em;
  font-weight: bold;
  font-family: cursive;
  opacity: 0.5;
}

.showsbyyear__shows {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0 0.5em 0.5em 0;
  list-style: none;
}

.showsbyyear__shows li {
  margin: 0.3em;
}

.showsbyyear__shows a {
  display: block;
  min-width: 2.5em;
  padding: 0.6em;
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
  text-shadow: none;
}
.showsbyyear__shows a:hover {
  background: azure;
  box-shadow: 3px 5px 7px 0 #00000044,
  inset -3px -5px 9px 0 #00000077;
  text-decoration: none;
}
