.showsbyyear {
  margin: 0.2em 0.5em 1em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.showsbyyear > li {
  display: flex;
  border-radius: 15px;
  margin: 0.5em 0.1em;
  box-shadow: 3px 7px 10px 0 #00000044,
              inset -3px -5px 9px 0 #00000077;
  background: #dabbff4e;
}

.showsbyyear h3 {
  margin: 0;
  border-radius: 15px 0 0 15px;
  padding: 0.7em 0.7em 0.5em;
}

.showsbyyear__shows {
  margin: 0;
  padding: 0 0.5em 0.5em 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.showsbyyear__shows li {
  margin: 0.3em;
}

.showsbyyear__shows a {
  display: block;
  min-width: 2.5em;
  padding: 0.6em;
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
  text-shadow: none;
}
.showsbyyear__shows a:hover {
  background: azure;
  box-shadow: 3px 5px 7px 0 #00000044,
              inset -3px -5px 9px 0 #00000077;
  text-decoration: none;
}
