.showpage-embed {
  padding: 1em;
}

.showpage-embed .showpage__notes {
  margin: 2em 0.5em 0;
  padding: 0.5em 1em;
}

.showpage-embed .setlist__setlabel {
  margin: 0.5em;
  text-align: left;
  text-indent: 1em;
}

.showpage-embed .setlist__tracks {
  margin-left: 0;
}
.showpage-embed .setlist__tracks > li {
  margin-left: 0.5em;
  padding: 0.1em;
}

.showpage-embed .showpage__pagetitle--event:before {
  content: ' — ';
}
.showpage-embed .showpage__pagetitle--venue:before {
  content: ' @ ';
}
