#root {
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 2;
  min-height: 100%;
  text-align: center;
}

#logo {
  display: block;
  float: right;
  max-width: 25%;
}
#logo img {
  width: 100%;
}

.App:not(.prod) h1 {
  color: lime;
}

#site-footer {
  margin-top: 2em;
}
