h1 {
  margin-top: 0;
  font-weight: bold;
  font-family: fantasy;
  line-height: 1.3em;
  text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0, 0.5);
}
a {
  color: #013;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0, 0.5);
}
a:hover {
  text-decoration: underline;
}
a:active, a:visited {
  color: #313;
}

.hidden {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 2;
  min-height: 100%;
}

#logo {
  display: block;
  float: right;
  max-width: 25%;
}
.App.canary #logo {
  background: radial-gradient(circle, yellow 0%, khaki 49%, rgba(255,255,255,0) 50%);
}
.App.unknown #logo {
  background: radial-gradient(circle, plum 0%, chartreuse 49%, rgba(255,255,255,0) 50%);
}
.App.dev #logo {
  background: radial-gradient(circle, magenta 0%, indigo 49%, rgba(255,255,255,0) 50%);
}
#logo img {
  width: 100%;
}

#site-footer {
  padding: 3em;
  text-align: center;
  background: #ddd;
}
