h1 {
  margin-top: 0;
  font-family: 'Shadows Into Light', fantasy;
  line-height: 1.3em;
}
a {
  color: #013;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0, 0.5);
}
a:hover {
  text-decoration: underline;
}
a:active, a:visited {
  color: #313;
}

.hidden {
  display: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  flex-grow: 2;
  min-height: 100%;
}

#logo {
  display: block;
  position: absolute;
  max-width: 25%;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.2;
}
#logo:hover {
  opacity: 0.9;
}
.App.canary #logo {
  background: radial-gradient(circle, yellow 0%, khaki 49%, rgba(255,255,255,0) 50%);
}
.App.unknown #logo {
  background: radial-gradient(circle, plum 0%, chartreuse 49%, rgba(255,255,255,0) 50%);
}
.App.dev #logo {
  background: radial-gradient(circle, magenta 0%, indigo 49%, rgba(255,255,255,0) 50%);
}
#logo img {
  width: 100%;
  max-height: 6em;
  object-fit: scale-down;
}

footer.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 2px 10px 10px #000000d4;
}
.footer img {
  max-height: 2em;
}
.footer .footer__link-about {
  /*flex-grow: 3;*/
}
