.statspage > main {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.statspage .selected {
  display: inline;
  list-style: none;
}
.statspage .selected li {
  display: inline;
  margin: 0.5em;
}

.statspage .showslist {
  font-size: 0.8em;
  line-height: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #dabbff;
}
.statspage .showslist {
  list-style: none;
  margin-left: 0;
}
.statspage .showslist li {
  margin-bottom: 0;
}
.statspage .showslist input {
  margin: 0.3em;
}

.statspage .nowrap {
  white-space: nowrap;
}
