.venues > main {
  padding: 1em;
}

@media all and (min-width: 40em) {
  .venues__list {
    column-count: 2;
  }
}

@media all and (min-width: 75em) {
  .venues__list {
    column-count: 3;
  }
}

.venues__list {
  list-style: none;
}

.venues__list > li {
  margin-top: 1em;
  break-inside: avoid-column;
}

.venues h3 {
  margin: 1em 0 0.3em;
}

.venues h4 {
  font-weight: normal;
}
